.slider-container {
    margin-top: 112px;
    min-height: 62vh;
    background-color: #f0f0f0;
}

@media (max-width: 988px) {
    .slider-container {
        margin-top: 80px;
    }
}

.page-title {
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    padding: 50px 20px 0px 20px;
    margin: 0;
}

.Cards-slider .slick-slide {
    margin: 0 10px;
    overflow: hidden;
    cursor: grab;
}

.Cards-slider .slick-slide>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cards-slider .slick-track {
    display: flex !important;
    flex-wrap: nowrap !important;
}


.slick-prev,
.slick-next {
    background: none !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 20px !important;
    color: #000000 !important;
}



.Cards-slider .cat_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    height: 250px;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 0;
    transition: border 0.3s;
}

.Cards-slider .cat_image:hover {
    border: 2px solid #c9a236;

}

.Cards-slider .cat_image:focus,
.Cards-slider .cat_image:active {
    outline: none;
    border: 2px solid #c9a236;
}



.Cards-slider .cat_image img {
    width: 90%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 5px auto auto auto;
}




.Cards-slider .cat_title {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin: 0;
    position: relative;
}

.Cards-slider .cat_title_underline {
    width: 50%;
    height: 1px;
    background-color: #c9a236;
    margin: 5px auto 0;
}

@media (max-width: 576px) {
    .Cards-slider .cat_image img {
        width: 53%;
        margin: 0px auto auto auto;
    }

    .Cards-slider .cat_title_underline {
        width: 20%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: #f0f0f0 !important;
    }
}